body {
  background-color: white;
}
.logo {
  width: 190px;
  height: 90px;
}
.password-navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 70px;
}

.container {
  color: black;
  margin: auto;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.container input {
  width: 100%;
  padding: 20px 10px;
}

.container button {
  width: 100%;
  padding: 20px 10px;
  background-color: red;
  border: 1px solid lightgray;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.container input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #b5b4b4;
}
.sign-in-link {
  color: #333;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
}
.sign-in-link:hover {
  text-decoration: underline;
}
